@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form asp-action="Login" asp-controller="Auth" method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="UserName"></label>
        <input asp-for="UserName" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="RememberMe"></label>
        <input asp-for="RememberMe" />
    </div>
    <button type="submit">Submit</button>
</form>