@{
    //ViewBag.Title = "Create";
    ViewData["Title"] = "Create";
}


<form action="/Home/Create" method="post">
    <div class="form-floating">
        <input type="text" name="name" class="form-control form-control-sm" placeholder="Name" />
        <label>Name</label>
    </div>
    
    <button class="btn btn-sm btn-success">Create</button>
</form>

@ViewBag.Name